
*{
  box-sizing: border-box
}

.content p{
  margin:0;
  padding-top: 40px;
  text-align:center;
  font-size: 20px;
  color:rgb(0, 0, 0);
  font-family: "Lexend";
  padding-bottom: 30px;
}
.topic{
  font-size: 40px;
  color: rgb(50, 108, 224);
  font-family:"Lexend";
  padding-top: 100px;
  text-align: center;
}
.list{
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: "Lexend";
  text-align: left;
  padding-left: 80px;
  padding-bottom: 200px;
}


