
*{
    box-sizing: border-box
}



.topic{
    font-size: 40px;
    font-family: "Lexend";
    color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
body{
    background-color: rgb(225, 235, 173);
    background-image: linear-gradient(to left,white,rgb(25, 39, 20));
}
.slider{
    width: 90vmin;
    height: 60vmin;
    position: absolute;
    top: 22%;
    left: 5%;
    overflow: hidden;
    border: 5px solid #000000;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0,3);

}
.slide-image{
    width: 100%;
    display: flex;
    animation: slide 15s infinite;

}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-400%);
    }
}
img{
    width: 100%;
}
.map {
    position: fixed; 
    top: 140px;
    left: 53%;
    border: #000000;
    border-width: 20px;
    border: 5px solid rgb(0, 0, 0);
    margin: 20px;
    border-radius: 8px;
    }   

.content{
    font-size: 25px;
    font-family: "Lexend";
    padding-top: 500px;
    padding-bottom: 100px;
    color: rgb(0, 0, 0);
    line-height: 1.5;


}
.content p{
    width: 1000px;
    margin: auto;
    text-align: center;
}
*{
    box-sizing: border-box
}



.topic{
    font-size: 40px;
    font-family: "Lexend";
    color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
body{
    background-color: rgb(225, 235, 173);
    background-image: linear-gradient(to left,white,rgb(25, 39, 20));
}
.slider{
    width: 90vmin;
    height: 60vmin;
    position: absolute;
    top: 22%;
    left: 5%;
    overflow: hidden;
    border: 5px solid #000000;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0,3);

}
.slide-image{
    width: 100%;
    display: flex;
    animation: slide 15s infinite;

}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    60%{
        transform: translateX(-200%);
    }
    70%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-400%);
    }
}
img{
    width: 100%;
}
.map {
    position: absolute; 
    top: 140px;
    left: 53%;
    border: #000000;
    border-width: 20px;
    border: 5px solid rgb(0, 0, 0);
    margin: 20px;
    border-radius: 8px;
    }   

.content{
    font-size: 25px;
    font-family: "Lexend";
    padding-top: 500px;
    padding-bottom: 100px;
    color: rgb(0, 0, 0);
    line-height: 1.5;


}
.content p{
    width: 1000px;
    margin: auto;
    text-align: center;
}